<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Career Expo | Analisis Data</title>
    <link rel="icon" href="/images/logo yayasan wahana prestasi prima.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <link href="https://cdn.datatables.net/v/dt/dt-1.13.8/datatables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="/adminlte/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/adminlte/dist/css/adminlte.min.css?v=3.2.0">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/adminlte/plugins/chart.js/Chart.min.js"></script>

    <script nonce="5989af46-2b09-4a77-8663-c56dd412451d">
        try {
        (function(w,d){
            // ... (script Cloudflare Zaraz)
        })(window,document);
        } catch (err) {
        console.error('Failed to run Cloudflare Zaraz: ', err)
        fetch('/cdn-cgi/zaraz/t', {
            credentials: 'include',
            keepalive: true,
            method: 'GET',
        })
        }
    </script>

    <style>
        body {  
            min-height: 100vh;
            background-color: #db401d;
            background-image: linear-gradient(147deg, #f57207 0%, #8002ee 100%);
}
    </style>
</head>
<body>
    <!-- <div id="loader-wrapper">
        <div id="loader"></div>
    </div> -->
    <nav id="myNavbar" class="navbar navbar-expand-lg navbar-light bg-transparent">
        <div class="container">
            <a class="navbar-brand logo-small" href="#">
                <img src="/images/logo yayasan wahana prestasi prima.png" alt="Yayasan Prestasi Prima Logo" class="small-logo">
                <span class="logo-text" style="color: white;"><strong>Yayasan Prestasi Prima</strong></span>
            </a>
            <h2 style="color: white;">Rekapan Hasil Input</h2>
        </div>
    </nav>

    <div class="container">
        <div class="card card-danger">
            </div>
            <div class="card-body">
                <canvas id="pieChart" style="min-height: 500px; height: 500px; max-height: 500px; max-width: 100%;"></canvas>
            </div>
        </div>
    </div>
    </div>

    <div class="container">
        <div class="row py-5">
            <div class="col-lg-10 mx-auto">
                <div class="card rounded shadow border-0">
                    <div class="card-body p-5 bg-white rounded">
                        <div class="table-responsive">
                            <table id="example" style="width:100%" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Nama</th>
                                        <th>Usia</th>
                                        <th>Jurusan</th>
                                        <th>Pekerjaan</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>1</th>
                                        <th>absdad</th>
                                        <th>60</th>
                                        <th>RPL</th>
                                        <th>IT</th>
                                    </tr>
                                    <tr>
                                        <th>1</th>
                                        <th>absdad</th>
                                        <th>60</th>
                                        <th>RPL</th>
                                        <th>IT</th>
                                    </tr>
                                    <tr>
                                        <th>1</th>
                                        <th>absdad</th>
                                        <th>60</th>
                                        <th>RPL</th>
                                        <th>IT</th>
                                    </tr>
                                    <tr>
                                        <th>1</th>
                                        <th>absdad</th>
                                        <th>60</th>
                                        <th>RPL</th>
                                        <th>IT</th>
                                    </tr>
                                    <tr>
                                        <th>1</th>
                                        <th>absdad</th>
                                        <th>60</th>
                                        <th>RPL</th>
                                        <th>IT</th>
                                    </tr>
                                    <tr>
                                        <th>1</th>
                                        <th>absdad</th>
                                        <th>60</th>
                                        <th>RPL</th>
                                        <th>IT</th>
                                    </tr>
                                    <tr>
                                        <th>2</th>
                                        <th>ab</th>
                                        <th>65</th>
                                        <th>RPL</th>
                                        <th>IT</th>
                                    </tr>
                                    <tr>
                                        <th>1</th>
                                        <th>absdad</th>
                                        <th>60</th>
                                        <th>RPL</th>
                                        <th>IT</th>
                                    </tr>
                                    <tr>
                                        <th>1</th>
                                        <th>absdad</th>
                                        <th>60</th>
                                        <th>RPL</th>
                                        <th>IT</th>
                                    </tr>
                                    <tr>
                                        <th>1</th>
                                        <th>absdad</th>
                                        <th>60</th>
                                        <th>RPL</th>
                                        <th>IT</th>
                                    </tr>
                                    <tr>
                                        <th>1</th>
                                        <th>absdad</th>
                                        <th>60</th>
                                        <th>RPL</th>
                                        <th>IT</th>
                                    </tr>
                                    <tr>
                                        <th>1</th>
                                        <th>absdad</th>
                                        <th>60</th>
                                        <th>RPL</th>
                                        <th>IT</th>
                                    </tr>
                                    <tr>
                                        <th>1</th>
                                        <th>absdad</th>
                                        <th>60</th>
                                        <th>RPL</th>
                                        <th>IT</th>
                                    </tr>
                                    <tr>
                                        <th>1</th>
                                        <th>absdad</th>
                                        <th>60</th>
                                        <th>RPL</th>
                                        <th>IT</th>
                                    </tr>
                                    <tr>
                                        <th>1</th>
                                        <th>absdad</th>
                                        <th>60</th>
                                        <th>RPL</th>
                                        <th>IT</th>
                                    </tr>
                                    <tr>
                                        <th>1</th>
                                        <th>absdad</th>
                                        <th>60</th>
                                        <th>RPL</th>
                                        <th>IT</th>
                                    </tr>
                                    <tr>
                                        <th>1</th>
                                        <th>absdad</th>
                                        <th>60</th>
                                        <th>RPL</th>
                                        <th>IT</th>
                                    </tr>
                                    <tr>
                                        <th>1</th>
                                        <th>absdad</th>
                                        <th>60</th>
                                        <th>RPL</th>
                                        <th>IT</th>
                                    </tr>
                                    <tr>
                                        <th>1</th>
                                        <th>absdad</th>
                                        <th>60</th>
                                        <th>RPL</th>
                                        <th>IT</th>
                                    </tr>
                                    <tr>
                                        <th>1</th>
                                        <th>absdad</th>
                                        <th>60</th>
                                        <th>RPL</th>
                                        <th>IT</th>
                                    </tr>
                                    <tr>
                                        <th>1</th>
                                        <th>absdad</th>
                                        <th>60</th>
                                        <th>RPL</th>
                                        <th>IT</th>
                                    </tr>
                                    <tr>
                                        <th>1</th>
                                        <th>absdad</th>
                                        <th>60</th>
                                        <th>RPL</th>
                                        <th>IT</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(function () {
            // Get context with jQuery - using jQuery's .get() method.
            var pieChartCanvas = $('#pieChart').get(0).getContext('2d')
            var pieData = {
                labels: ['Chrome', 'IE', 'FireFox', 'Safari', 'Opera', 'Navigator'],
                datasets: [{
                    data: [500, 500, 400, 600, 300, 100],
                    backgroundColor: ['#f56954', '#00a65a', '#f39c12', '#00c0ef', '#3c8dbc', '#d2d6de'],
                }]
            };
            var pieOptions = {
                maintainAspectRatio: false,
                responsive: true,
                legend: {
                    labels: {
                        fontColor: 'white', // Mengatur warna teks legenda menjadi putih
                        fontSize: 16,       // Mengatur ukuran font legenda
                    }
                }
            };

            // Create pie chart
            new Chart(pieChartCanvas, {
                type: 'pie',
                data: pieData,
                options: pieOptions
            });
        });
    </script>

    <style>
        #pieChart {
            max-height: 500px;
            width: 100%;
            margin: auto;
            display: block;
        }

        @media only screen and (max-width: 768px) {
            #pieChart {
                max-height: 200px;
                font-size: small; /* Atur tinggi maksimum untuk layar berukuran sedang */
            }
        }

        @media only screen and (max-width: 576px) {
            #pieChart {
                max-height: 100px;
                font-size: smaller; /* Atur tinggi maksimum untuk layar kecil */
            }
        }

         #myNavbar h2 {
            font-size: 1.7rem; /* Ukuran font default */
        }

        @media only screen and (max-width: 768px) {
            #myNavbar h2 {
                font-size: 1.5rem; /* Ukuran font untuk layar berukuran sedang */
            }
        }

        @media only screen and (max-width: 576px) {
            #myNavbar h2 {
                font-size: 1rem; /* Ukuran font untuk layar kecil */
            }
        }
    </style>



    <div class="copyright_main">
        <div class="container">
            <p class="copy_text">© 2024 All Rights Reserved. <a style="color: white;">SMK PRESTASI PRIMA</a></p>
        </div>
    </div>

    <script src="https://cdn.datatables.net/v/dt/dt-1.13.8/datatables.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://apis.google.com/js/client.js?onload=init"></script>
    <script src="/js/script.js"></script>
    <script src="/js/dataTables.bootstrap4.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/js/jquery.dataTables.min.js"></script>
</body>
</html>
